/* footer */
.text-back {
  background-color: #1e1e1e;
  color: white;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;

  margin-bottom: 15px;
  margin-top: 10px;
}
.link-header a {
  margin-left: 8px;
  font-size: medium;
  font-weight: 500;
}
.btn-header {
  color: red;
  border: 1px solid red;
  padding: 5px;
}
